<!DOCTYPE html>
<html>
<head>
<!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
           <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

	<title>{{name}}</title>
</head>
<body>
	<nav>
		<div class="nav-wrapper">
		<a href = "#" class="brand-logo left">Marvel API</a>
			<ul class="right hide-on-med-and-down">
				<li><a href="home.html/'Iron Man'">Iron Man</a></li>
				<li><a href="#">Hulk</a></li>
				<li><a href="#">Spider Man</a></li>
				<li><a href="#">Thor</a></li>
				<li><a href="#">Magneto</a></li>
		</div>
	</nav>
	<h1>{{name}}</h1>
	<br>
	<h2>{{desc}}</h2>
	<img src="{{img}}">
</body>
</html>